.search{
    width: 100%; 
    .search-data{
        padding: 10px;
        background-color: lightgreen;
        display: flex;
        align-items: center; 
        justify-content: center;
        margin: 10px 0;
    }
}